@charset "utf-8";
.inner-news{
	padding:5px 30px 30px;
	min-height:700px;
	margin:20px 0 0;
    border-top:10px solid  rgba(200,200,200,0.25);    
	border-right:10px solid  rgba(200,200,200,0.5);    
	border-bottom: 10px solid  rgba(200,200,200,0.75);    
	border-left:10px solid  rgba(200,200,200,1);
	background-image:url(../images/lianxiwomen.jpg);
    background-position:center; 
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
	}
.inner-news .ps{
	position:absolute;
	top:120px;
	left:350px
	}
.inner-news p{
	color:#360c0b;
	font-size:14px;
	padding-bottom:8px
	}
