@charset "utf-8";
/* CSS Document */	
body {
	background: #eee;
}
#about a {
	display: block;
}
#about img{
	width:1140px;
	height:300px;
	display: block;
	margin: 0 auto;
}
#about h2{
	font-size:50px;
	padding-top:66px;
	color:#fff;
	}
#about p{
	font-size:18px;
	color:#fff;
	line-height:38px;
	padding-bottom:60px;
	padding-top:32px;
	}
.label-detail{
	color: #fff;
    font-size: 28px;
    line-height: 50px;
	text-indent:5em;}
/*--------------以下是section2-----------------------
*/
.features {
	padding-bottom: 40px;
}
.features h3{
	color:#61201e;
	text-align:center;
	font-size:36px;
	padding-top:20px;
	line-height:50px;
	}
#service {
	width:100%;
}
#service .container .p-div{
	color:#363636;
	padding-bottom:10px;
	text-align:left;
	text-indent:2em
	}
#service .container .p-div a{
	float:right
		}
.features h4{
	line-height:40px;
	 font-family: '微软雅黑',"Helvetica Neue",Helvetica,Arial,sans-serif;
	 color:#61201e;
	 font-weight:bold}
.features ul{
	float:right;
	border:1px #bf9f62 solid;
	border-radius:4px;

	}
.features ul li{
	float:left;
	border-right:1px #ec5054 solid;
	}
.features ul li:last-child{
	border-right:none;}
.stores-shows {
	width: 1140px;
	margin: 0 auto;
}
.store-title {
	width: 1120px;
	margin: 0 auto;
	position: relative;
}
.title-left h4 {
	line-height: 40px;
    font-family: '微软雅黑',"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #61201e;
    font-weight: bold;
}
.title-right {
	position: absolute;
	right: 0;
	top: 0;
}
.title-right li a{
	text-align: center;
	display:block;
	width: 96px;
	padding:0 18px;
	line-height: 37px;
    height: 37px;
	transition:all 0.5s;
	color:#fff;
	background-color:#802523;
	}
	
	
.features li:nth-child(1) a{
	color:#fff;
	background-color:#802523;
	}

.inners>div{
	margin-top:3px;}
.inners img{
	width:80%;
	padding:4px;
	}
.stores .inners img {
	width:100%;
}
.inners{
	padding-bottom:30px;}
.inners a{
	display:block;
	text-align:center;
	background-color:#ccc;
	transition:all 0.5s;
	color:#020202;}
.inners h5{
	font-weight:bold;
	line-height: 35px;
    padding-bottom: 8px;
	font-size:16px;}
.inners p{
	line-height:23px;
	padding-bottom:11px;}


/*------以下是website区------
*/
#website{
	text-align:center;
	padding:60px 0 85px;
	color:#fff;
	background-color:#262938;
	}
#website h2{
	line-height:77px;
	font-family: '微软雅黑',"Helvetica Neue",Helvetica,Arial,sans-serif;
	}
#website p{
	line-height:25px;
	padding:0 80px 32px;
	font-size:20px;
	
	}
#website a{
	color:#fff;
	background-color:rgba(0,0,0,0);
	transition:all 0.5s;}
	#website a:hover{
		background-color:#61201e;}
/*------以下是service区------*/

.myfull{
	position:relative;
	}
.myfull a{
	font-size:20px;
	border:1px #ad221e solid;
	color:#fff;
	padding:12px;
	border-radius:6px;
	background-color:#ad221e;
	position:absolute;
	left:0;
	top:0;
	}

.myfull h4{
	color:#7d1e1b;
	line-height:33px;
	padding-left:70px;}
.myfull p{
	line-height:20px;
	color:balck;
	padding-left:70px;}
.small-banner {
	width:100%;
	height:400px;
	background-image:url(../images/gaoyuan.jpg);
	background-size:100% 100%;}
.top{
		height:146px;
		margin-bottom:43px;
		}
.title h4{
	line-height:55px;
	color:#7d1e1b;
	font-weight: bold;
	}
.title1{
	height:55px;}
.row-bot{
	margin-bottom:10px
	}
.news {
	padding: 0 6px;
}
.news li {
	margin:5px 0;
}
.news li:hover {
	background-color:#ccc;
}
.news li:hover a {
	color:#7d1e1b;
}
.news li:hover b.stars {
	color:#7d1e1b;
}
.news a {
	color:#333;
	margin-left:5px;}
b.stars{
	color:#333;}
/*------以下是team区------*/
.team{
	background-color:#61201e;}	
.team h3{
	color:#fff;}
.team .team-p{
	color:#fff;
	text-align:center;
	font-size:20px;
	margin-bottom:35px}
.team a{
	background-color:#61201e;
	color:#fff;
	transition:all 0.5s;}
.team a:hover{
	transform:scale(1.1);}

.insert {
	float: left;
	width: 285px;
}
.insert a {
	margin: 0 auto;
	width: 258px;
}

.guding	{
	width: 1120px;
	margin: 0 auto;
}
/*--------二维码--------*/
#qrCode {
	width: 180px;
	position:fixed;
	top: 100px;
	right:0;
}
.cursor{
	cursor: pointer;
}


/*-----------门店轮播----------*/
#mrq{width:1120px; margin: 0 auto; }
#Marquee_x { overflow:hidden; width: 1120px } 
#Marquee_x ul li,#Marquee_x ul li div{ float:left;line-height:25px;overflow:hidden} /* 横向滚动必须让所有li左浮动 */
#Marquee_x ul li div{ float:left;line-height:25px;width:265px; height:234px; overflow:hidden}
#Marquee_x ul li div img{width:265px; height:182px; display:block}
#Marquee_x ul li div span{ display:block;}
#Marquee_x ul li div a:hover{ background-color:#61201e;}

/*----------首页内容展示--------*/
#model {
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: black;
	opacity:0.2;
	filter:alpha(opacity=20);
	position: fixed;
	z-index: 99998;
}
#content-window {
	display: none;
	width: 80%;
	height: 80%;
	top: 10%;
	left: 10%;
	background: #fdf5eb;
	border: 10px solid #aaa;
	position: fixed;
	z-index: 99999;
}

#close-bar {
	width: 20px;
	height: 20px;
	right: 0;
	top: -2px;
	position: absolute;
	color: #ad221e;
	font-size: 20px;
	cursor: pointer;
}
#content-container {
	height: 100%;
	padding: 20px;
	overflow-y: auto; 
}

#center {
	padding: 10px 0 30px;
}
#center-ul>li {
	float: left;
	margin-top: 20px;
	border: 1px solid #802523;
}
#center-ul .center-left-li {
	width: 760px;
	height: 200px;
}
#center-ul .center-right-li {
	width: 340px;
	height: 200px;
	margin-left: 20px;
}

.title-div {
	padding-left: 10px;
    height: 34px;
    background-color: #802523;
}
.title-div h4 {
	float: left;
	line-height: 30px;
	width: 100px;
	display: block;
}
.title-div h4 a {
	display: block;
	color: #fff;
}
.title-div .has-child-h4 a:after {
	content: '>';
	display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 10px;
    margin-left: 10px;
}
.title-div ul {
	float: left;
	margin: 4px 0 0 20px;
}
.title-div ul li {
	height: 30px;
	line-height: 30px;
	padding: 0 6px;
	display: inline-block;	
	color: #bbb;
	cursor: pointer;
}
.title-div ul li.current {
	color: #fff;
}


.content-div {
	position: relative;
}

.content-div .normal {
	display: none;
	left:4px;
	top:4px;
	width:750px;
	height:156px;
	position: absolute;
}
div.content-div .normal.content-curr {
	display: block;
}
.normal p {
	display: block;
	width: 500px;
	height: 156px;
	padding: 0 5px;
	overflow: hidden;
	letter-spacing: 0.05em;
	text-indent: 1.5em;
}
.normal p,.normal a {
	float: left;
}
