@charset "utf-8";
/* CSS Document */
body {
	background: #eee;
}
.body-top{
	width:100%;
	}
.inner{
    margin: 0 auto;
	}
.h2-h2{
	padding:60px 0 20px;
	display:table;
	color:#ad221e;
	margin:0 auto;
	}
.h2-ul {
	display:table;
	margin:0 auto;
	}
.big-left{
	float:left;
	margin-bottom: 10px;
	}
.sma-left{
	float:left;
	padding-right:10px
	}
.sma-left img{
	height:200px;
	width:250px;
	border: 2px solid #fff;
	}
.sma-right{
	float:right;

	}
.sma-right h4{
	color:#a82d2a;
	float:left;
	padding-top:2px}
.sma-right span{
	color:#da2923;
	font-size:16px;
	}
.sma-right div {
	width: 250px;
}
.p2p {
    width: 250px;
    padding-top: 15px;
    padding-right: 20px;
    text-indent: 1.5em;
}
.inner{
		width: 1140px;
    	margin: 0 auto;
    	padding-bottom: 80px;
	}

.h2-h2{
	padding:60px 0 20px;
	display:table;
	color:#ad221e;
	margin:0 auto;
	}
.h2-ul {
	display:table;
	margin:0 auto;
	}
.h2-ul ul li{
	float:left;
	padding:0 10px
	}
.h2-ul ul li a{
	color:black;
	}
.h2-ul ul li .fst{
	color:#ad221e;
	}
.cs{
	clear:both;}
.inner-news{
	padding:20px 30px 30px;
	min-height:470px;
	margin:20px 0 0;
	position:relative;
	border-top:10px solid  rgba(200,200,200,0.25);    
	border-right:10px solid  rgba(200,200,200,0.5);    
	border-bottom: 10px solid  rgba(200,200,200,0.75);    
	border-left:10px solid  rgba(200,200,200,1);}
.inner-news h1 {margin: 0.67em 0;}
.inner-news h2 {margin: 0.83em 0;}
.inner-news h3 {margin: 1em 0;}
.inner-news h4 {margin: 1.33em 0;}
.inner-news h5 {margin: 1.67em 0;}
.inner-news h6 {margin: 2.33em 0;}
.inner-news .p-news{
	white-space:2px;
	}
.nav-top ul li{
	float:left;
	margin:5px 10px 5px 0}
.nav-top ul li a{
	color:black;
	}
.nav-top ul li a:hover{
	color:#ad221e;
	}
.fanye{
	float:right;
	padding:0;
	position:absolute;
	bottom:10px;
	right:30px
	}
.fanye a{
	padding:0 5px
	}
.fanye a:hover{
	color:#ad221e;
	}