@charset "utf-8";
.inner{
	min-height: 700px;
	position: relative;
	}


.inner-news{
	padding:30px  0;
	min-height:700px;
	margin:0;}

.news-left{
	float:left;
	padding:0 50px 0 0 
	}
.news-left ul li img{
	height:200px;width:200px;float:left;
	margin:0 26px 26px 0 }
.news-left ul li{
	margin-bottom:10px
	}
.news-left ul li a{
	color:black;
	overflow:hidden;
	text-overflowe:ellipsis;
	white-space:nowrap;
	}
.news-left ul li a:hover{
	color:#ad221e;
	}
.sma-right div {
	width:280px;
}
