@charset "utf-8";
/* CSS Document */
body{
	    font-family: '微软雅黑',"Helvetica Neue",Helvetica,Arial,sans-serif;
	
	}
h1,h2,h3,h4,h5,h6,p,ul,li{
	margin:0;
	padding:0;
	}
ul{
	list-style:none;
	margin-bottom:0;
	}
.header-top li,.header-bot li{
	padding-left:0;
	padding-right:0;

}
a,a:hover,a:focus{
	text-decoration:none;
	outline:none;
	}
img{
	border:none;
}
.header-top{
	background-color:#262938;
}
.header-top .contant {
	width: 1140px;
	margin:0 auto;
	background-color: #262938;
    border-bottom: 1px #3c434b solid;
}
.header-top li{
	display:inline-block;
	padding-right:30px;}
.header-top ul a{
	color:#ccc;
	line-height:30px;
	}
.header-top-r a:hover{
	color:#f5484e;}

.header-bot{
	background-color:white;
	width: 1140px;
	margin: 0 auto;
}
.header-bot .logo-top {
	height: 113px;
	background-image:url("../images/top.jpg"); 
}
.header-bot .logo-menu {
	background: #641e20;
}
.logo-menu-list {
	text-align: justify;
    padding: 0 30px;
    height: 38px;
}
.logo-menu-list:AFTER {
	content: '';
	width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}
.logo-menu-list li{
	text-align:center;
	display:inline-block;}
.logo-menu-list li a{
	display:block;
	padding:0 9px;
	color: #eee;
    font-size: 16px;
	line-height: 38px;
    height: 38px;
    width: 94px;
	}
.search{
	margin-left:5px;}
.logo-menu-list li a:hover {
	background: #e3bc7b;
	color: #641e20;
	}
.hiden-menu {
	display: none;
	position: absolute;
	background:#e3bc7b;
	width: 94px;
	z-index: 9999999; 
}
.hiden-menu li {
	padding: 0 5px;
	text-align: center;
	line-height: 28px;	
	height: 28px;	
}

.hiden-menu li a {
	color: #641e20;
}

.hiden-menu li:hover {
	background: #641e20;
}	
.hiden-menu li:hover a {
	color: #eee;
}
.clear {
	clear: both;
}

/*------以下是footer区------*/
footer{
	text-align:center;
	background-color:#282f37;
}

footer h6{
	padding:40px 0;
	width: 1140px;
    margin: 0 auto;
	line-height:30px;
	color:#fff;
	background-color:#282f37;
}
footer .chevron{
	width: 36px;
    height: 36px;
	padding-top:8px;
	border-radius:50%;
	background-color:#ad221e;
	color:#fff;
	position:fixed;
	right:60px;
	bottom:20px;
	transition:all 0.5s;
}
footer .chevron:hover{
	transform:scale(1.5);}
footer a{
	color:#fff;
	}
footer a:hover{
	color:#fff;
	}