@charset "utf-8";
/* CSS Document */
body {
	background: #eee;
}
.body-top{
	width:100%;
	}
.inner{
		width: 1140px;
    	margin: 0 auto;
    	padding-bottom: 80px;
	}

.h2-h2{
	padding:60px 0 20px;
	display:table;
	color:#ad221e;
	margin:0 auto;
	}
.h2-ul {
	display:table;
	margin:0 auto;
	}
.h2-ul ul li{
	float:left;
	padding:0 10px
	}
.h2-ul ul li a{
	color:black;
	}
.h2-ul ul li .fst{
	color:#ad221e;
	}
.cs{
	clear:both;}
.inner-news{
	padding:5px 30px 30px;
	min-height:700px;
	margin:20px 0 0;
    border-top:10px solid  rgba(200,200,200,0.25);    
	border-right:10px solid  rgba(200,200,200,0.5);    
	border-bottom: 10px solid  rgba(200,200,200,0.75);    
	border-left:10px solid  rgba(200,200,200,1);
	position:relative;
	background-image:url(../images/mendiantu1.jpg);
    background-position:center; 
	background-repeat:no-repeat;
	background-size:cover}
.inner-news .p-news{
	white-space:2px;
	}
.nav-top ul li{
	float:left;
	margin:5px 10px 5px 0}
.nav-top ul li a{
	color:black;
	}
.nav-top ul li a.fst{
	color:#ad221e;
	}
.nav-top ul li a:hover{
	color:#ad221e;
	}
.fanye{
	float:right;
	padding:0 ;
	position:absolute;
	bottom:20px;
	right:230px
	}
.fanye a{
	padding:0 5px
	}
.fanye a:hover{
	color:#ad221e;
	}
.img-pp ul li{
	width:260px;
	height:220px;
	background-color:#a98263;
	float:left;
	border:4px #a98263 solid;
	text-align:center;
	margin-top:10px;
	transition:all 0.5s;
	margin:20px 40px 20px 0
	}
.img-pp ul li:hover{
	background-color:#711e1b;
	border:4px #711e1b solid;

	}
.img-pp h5 {
	color:black;
	text-align:center;
	font-size:16px;
	font-weight:bold;
	line-height:20px
	}
.img-pp p{
	color:black;
	text-align:center;
	line-height:20px
	}
.img-pp ul li div {
    width:250px;
	height:160px;
	text-align:center;
	padding-top:10px;
	font-family: '微软雅黑',"Helvetica Neue",Helvetica,Arial,sans-serif;
	 color:#61201e;
	}
.img-pp img{
	width:250px;
	height:160px;

	}
