@charset "utf-8";
/* CSS Document */
body {
	background: #eee;
}
.body-top{
	width:100%;
	}
.inner{
		width: 1140px;
    	margin: 0 auto;
    	padding-bottom: 80px;
	}

.h2-h2{
	padding:60px 0 20px;
	display:table;
	color:#ad221e;
	margin:0 auto;
	}
.h2-ul {
	display:table;
	margin:0 auto;
	}
.h2-ul ul li{
	float:left;
	padding:0 10px
	}
.h2-ul ul li a{
	color:black;
	}
.h2-ul ul li .fst{
	color:#ad221e;
	}
.cs{
	clear:both;}
.inner-news{
	min-height:412px;
	margin:20px 0 0;
    border-top:10px solid  rgba(200,200,200,0.25);    
	border-right:10px solid  rgba(200,200,200,0.5);    
	border-bottom: 10px solid  rgba(200,200,200,0.75);    
	border-left:10px solid  rgba(200,200,200,1);}
.fanye{
	float:right;
	padding:40px 0 0
	}
.fanye a{
	padding:0 5px
	}
.fanye a:hover{
	color:#ad221e;
	}

.news-tu .item {
	width:1080px;
	height:300px;
	float:left;
	position:relative;
	margin: 5px 5px 0 5px;}
.news-tu .item {
	width:1080px;
	height:300px;
	float:left;
	position:relative;
	margin: 5px 5px 0 5px;}
.news-tu .item:last-child{
	margin-bottom: 5px;
}
.news-tu .item img{
	width:600px;
	height:300px;
	font-size:0;
	border:none;
	float:left;	
	}
.news-tu .item a{
	background:#000;
	opacity:0;
	filter:alpha(opacity=0);
	padding:10px;
	transition:all 0.5s;
}
h3 {margin: 1em 0;}
.news-tu .item h3 {
	text-align: center;
}
.news-tu .item p {
	text-align: center;
	padding: 10px;
}
.news-tu .item span {
	width: 1080px;
	height:300px;
	display: block;
	position: absolute;
	background: #000;
	opacity:0;
	filter:alpha(opacity=0);
	cursor:pointer;
	transition:all 0.3s;
}

.news-tu .item span:hover {
	opacity:0.3;
	filter:alpha(opacity=30);
}

