@charset "utf-8";
.inner-news{
	height:700px;
	margin:20px 0 0;
    border-top:10px solid  rgba(200,200,200,0.25);    
	border-right:10px solid  rgba(200,200,200,0.5);    
	border-bottom: 10px solid  rgba(200,200,200,0.75);    
	border-left:10px solid  rgba(200,200,200,1);
	position:relative;
	border-top:10px solid  rgba(200,200,200,0.25);    
	border-right:10px solid  rgba(200,200,200,0.5);    
	border-bottom: 10px solid  rgba(200,200,200,0.75);    
	border-left:10px solid  rgba(200,200,200,1);
	background-image:url(../images/bg-0.jpg);
    background-position:center; 
	background-repeat:no-repeat;
	background-size:cover}
.join-us{
	padding:20px 20px
	}