<header>
	<div class="header-top">
		<div class="container">
			<div class="row ">
			<div class="col-sm-9">
					<ul class="contant">
						<li><a href="#" class="glyphicon glyphicon-earphone"> 18780389999|028-87565566 87563366</a></li>
						<li><a href="#" class="glyphicon glyphicon-envelope"> 1404853101@qq.com</a></li>
					</ul>
				</div>
			<div class=" col-sm-3">
					
				</div>
			</div>
		</div>
	</div>
	<div class="header-bot">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="logo">
						 <span class="logo-one"><img src="images/one.png" style="height: 54px ;"/></span>
            <span class="logo-two"><img src="images/two.png" style="height: 54px;margin-left:30px"/> </span>
					</div>
				</div>
				<div class="col-md-8">
					<ul>
						<li><a href="index">首页<span class="caret"></span></a></li>
						<li><a href="about">关于我们<span class="caret"></span></a></li>
						<li><a href="info">资讯中心<span class="caret"></span></a></li>
						<li><a href="touzi">投资加盟<span class="caret"></span></a></li>
						<li><a href="fanwei">经营范围<span class="caret"></span></a></li>
						<li><a href="yangsheng">养生专区<span class="caret"></span></a></li>
						<li><a href="contact">联系我们<span class="caret"></span></a></li>
						<li><a href="zhaopin">招聘专栏<span class="caret"></span></a></li>
					</ul>
				</div>                                       
			</div>
		</div>
   </div>
</header>