<% var root = request.scheme+"://"+request.serverName+":"+request.serverPort+request.contextPath;%>
<header>
	<div class="header-top">
		<ul class="contant">
			<li><a href="#" class="glyphicon glyphicon-earphone"> 18780389999|028-87565566</a></li>
			<li><a href="#" class="glyphicon glyphicon-envelope"> 1404853101@qq.com</a></li>
		</ul>
	</div>
	<div class="header-bot">
		<div class="logo-top"></div>
		<div class="logo-menu">
			<ul class="logo-menu-list">
				<%
				var list = menus.getMenus();
				var cout = 0;
				for(m in list) {
				%>
				<li menu-id="menu${cout}"><a href="${root}${m.url}">${m.name}</a></li>
				<%cout++;}%>
			</ul>
			<%
			cout = 0;
			for(m1 in list) {
			var m2list = menus.get2lMenus(m1.id);
			if(m2list != null) {
			%>
			<ul id="menu${cout}" class="hiden-menu">
				<%
				for(m2 in m2list) {	
				%>
				<li><a href="${root}${m2.url}">${m2.name}</a></li>
				<%}%>
			</ul>
			<%}
			cout++;
			}
			%>
		</div>
   </div>
</header>