<% var root = request.scheme+"://"+request.serverName+":"+request.serverPort+request.contextPath;%>
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>联系我们-四川鑫欧顿商务服务有限公司</title>
<link href="${root}/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="${root}/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="${root}/css/public.css" rel="stylesheet" type="text/css">
<link href="${root}/css/cont.css" rel="stylesheet" type="text/css">
</head>

<body>
	<%include("/header.html"){}%>
	<section class="body-top">
		<div class="inner container">
			<div class="h2-h2">
				<h2>联系我们</h2>
			</div>

			<div class="cs"></div>
			<div class="inner-news">
				<div class="ps">
					<p>鑫欧顿商务服务有限公司</p>
					<p>Xin OuDun Business Service Co., Ltd</p>
					<p>伯爵丽都投资发展有限公司</p>
					<P>The count of Lido investment and Development Co., Ltd</P>
					<p>总部地址：成都市金牛区万达广场甲级写字楼C座36楼04号</p>
					<p>电话：18780389999 | 028-87565566 87563366</p>
					<p>传真：028-87563366</p>
					<p>邮箱：1404853101@qq.com</p>
				</div>

			</div>
		</div>
	</section>
	<%include("/footer.html"){}%>
</body>
</html>
