<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>首页-四川鑫欧顿商务服务有限公司</title>
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/oxd-site/css/public.css" rel="stylesheet" type="text/css">
<link href="css/index.css" rel="stylesheet" type="text/css">
</head>

<body>
	<%include("/header.html"){}%>
	<section id="about">
		<div class="container banner">
			<div class="row">
				<div class="col-md-6 hidden-xs">
					<img src="images/banner.jpg">
				</div>
				<div class="col-md-6">
					<h2>鑫欧顿--伯爵丽都</h2>
					<div class="label-detail">——精致生活的缔造者</div>
					<p>
						愿景：创诚信品牌，造连锁传奇。<br>价值观：注重细节、追求完美、居安思危、自强不息。<br>理念：保证服务品质，追求技术巅峰。<br>使命：带同伴创业，共享健康人生。<br>
						宗旨：微笑服务，顾客满意。
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="features">
		<div class="container">
			<h3>公司简介</h3>
			<div class="p-div">
				四川省鑫欧顿商务服务有限公司成立于2011年，坐落于著有“天府之国”之称的四川省成都市，是一家集酒店、保健、浴足为一体的大型综合性连锁企业。公司拥有独立的自主商标和知识产权，负责“鑫欧顿”“伯爵丽都”两大品牌的推广、运营、管理，已发展成中国养生行业最具潜力的加盟连锁机构。经过短短5年时间的跨越式发展，公司目前已经拥有直营店与加盟店近40家，总投资金额达1.8亿元，实现年产值3亿元，现有员工2000余人。公司预计2018年底打造100家实体店面，覆盖全国各省会城市，实现真正意义的全国连锁；2019年底分别成立陕西分公司，河北分公司，北京分公司，山东分公司，上海分公司，广东分公司，福建分公司，实现市场战略部署；2020年底整合养生行业资源，实现融资上市的发展规划，让企业正式走上产业化、多元化、规模化的发展道路。<a
					href="about.html" style="color: #7d1e1b">更多...</a>
			</div>

			<div class="row">
				<div class="col-sm-2">
					<h4>金牌门店</h4>
				</div>
				<div class="col-sm-10">
					<ul>
						<li><a href="touzi-mendianxingxiangzhanshi.html">了解更多</a></li>
				</div>
			</div>
			<div class="row inner">
				<div class="col-xs-6 col-sm-3">
					<a href="#"> <img src="images/banner.jpg"
						class="img-responsive">
						<h5>温江店</h5>
						<p>地址：温江服务区</p>
					</a>
				</div>
				<div class="col-xs-6 col-sm-3">
					<a href="#"> <img src="images/banner.jpg"
						class="img-responsive">
						<h5>温江店</h5>
						<p>地址：温江服务区</p>
					</a>
				</div>
				<div class="col-xs-6 col-sm-3">
					<a href="#"> <img src="images/banner.jpg"
						class="img-responsive">
						<h5>温江店</h5>
						<p>地址：温江服务区</p>
					</a>
				</div>
				<div class="col-xs-6 col-sm-3">
					<a href="#"> <img src="images/banner.jpg"
						class="img-responsive">
						<h5>温江店</h5>
						<p>地址：温江服务区</p>
					</a>
				</div>
			</div>
		</div>
	</section>
	<section id="website">
		<div class="container">
			<h2>品牌市场优势</h2>
			<p>六大荣誉称号：中国足疗保健十大最具潜力品牌、中国足疗连锁机构最具影响力品牌、常务理事单位、消费者满意品牌、优秀足疗保健行业明星、中国质量万里行质量信的过单位。</p>
			<a href="about-gong.html" class="btn btn-default btn-lg">了解更多...</a>
		</div>
	</section>
	<section id="service">
		<div class="container">
			<div class="row myfull">
				<div class="col-sm-4">
					<a href="about-fanwei.html" class="glyphicon glyphicon-star"></a>
					<h4>足浴连锁</h4>
					<p>开健康服务之先河，创自然疗法之奇迹;用智慧去创新，用心灵去服务；诚信永在心，以德换真情!</p>
				</div>
				<div class="col-sm-4">
					<a href="about-fanwei.html" class="glyphicon glyphicon-star"></a>
					<h4>酒店管理</h4>
					<p>尽职尽责，至诚服务;以人为本，和谐发展;宾客至上，服务第一;清风雅致，怡然自在;一流服务，以心换心！</p>

				</div>
				<div class="col-sm-4">
					<a href="about-fanwei.html" class="glyphicon glyphicon-star"></a>
					<h4>企业人才培养</h4>
					<p>今天的教育明天的成功，现在的培训未来的发展；培训员工是企业成功最好的捷径；企业给员工最好的福利就是学习；教育培训坚持做上线操作不会错！
					</p>
				</div>
			</div>
			<div class="row row-bot">
				<div class="col-md-8">
					<div class="title">
						<h4>志存高远</h4>
					</div>
					<div class="small-banner"></div>
				</div>
				<div class="col-md-4 managent">
					<h4>资讯与养生</h4>
					<ul>
						<li><a href="news.html"><h4>
									<span class="glyphicon glyphicon-plus"></span>资讯中心
								</h4></a>
							<ul class="news">
								<li><b class="glyphicon glyphicon-star stars"></b><a
									href="#">热烈祝贺成都温江店开业十周年庆...</a></li>
								<li><b class="glyphicon glyphicon-star stars"></b><a
									href="#">热烈祝贺成都温江店开业十周年庆...</a></li>
								<li><b class="glyphicon glyphicon-star stars"></b><a
									href="#">热烈祝贺成都温江店开业十周年庆...</a></li>
								<li><b class="glyphicon glyphicon-star stars"></b><a
									href="#">热烈祝贺成都温江店开业十周年庆...</a></li>
								<li><b class="glyphicon glyphicon-star stars"></b><a
									href="#">热烈祝贺成都温江店开业十周年庆...</a></li>
								<li><b class="glyphicon glyphicon-star stars"></b><a
									href="#">热烈祝贺成都温江店开业十周年庆...</a></li>
							</ul></li>
						<li><a href="news.html"><h4>
									<span class="glyphicon glyphicon-plus"></span>养生专区
								</h4></a>
							<ul class="news">
								<li><b class="glyphicon glyphicon-star stars"></b><a
									href="#">身体经络，针灸，养生集于一体...</a></li>
								<li><b class="glyphicon glyphicon-star stars"></b><a
									href="#">身体经络，针灸，养生集于一体...</a></li>
								<li><b class="glyphicon glyphicon-star stars"></b><a
									href="#">身体经络，针灸，养生集于一体...</a></li>
								<li><b class="glyphicon glyphicon-star stars"></b><a
									href="#">身体经络，针灸，养生集于一体...</a></li>
								<li><b class="glyphicon glyphicon-star stars"></b><a
									href="#">身体经络，针灸，养生集于一体...</a></li>
								<li><b class="glyphicon glyphicon-star stars"></b><a
									href="#">身体经络，针灸，养生集于一体...</a></li>
							</ul></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="features team">
		<div class="container">
			<h3>品牌加盟</h3>
			<p class="team-p">品牌是大家的，共赢是品牌自我发展的硬性主张。让我们携手共进，协力共赢。</p>
			<div class="row inner">
				<div class="col-xs-6 col-sm-3">
					<a href="touzi-guanyuxiangmu.html"> <img
						src="images/xiangmu.jpg" class="img-circle">
						<h5>关于项目</h5>
					</a>
				</div>
				<div class="col-xs-6 col-sm-3">
					<a href="touzi-guanyuxiangmu-us.html"> <img
						src="images/zhichi.jpg" class="img-circle">
						<h5>我们的支持</h5>
					</a>
				</div>
				<div class="col-xs-6 col-sm-3">
					<a href="touzi-guanyuxiangmu-guan.html"> <img
						src="images/guanli.jpg" class="img-circle">
						<h5>管理一体化</h5>
					</a>
				</div>
				<div class="col-xs-6 col-sm-3">
					<a href="touzi-he.html"> <img src="images/hezuo.jpg"
						class="img-circle">
						<h5>如何合作</h5>
					</a>
				</div>
			</div>
		</div>
	</section>
	<%include("/footer.html"){}%>
</body>
</html>
