<% var root = request.scheme+"://"+request.serverName+":"+request.serverPort+request.contextPath;%>
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>资讯中心-四川鑫欧顿商务服务有限公司</title>
<link href="${root}/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="${root}/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="${root}/css/public.css" rel="stylesheet" type="text/css">
<link href="${root}/css/news.css" rel="stylesheet" type="text/css">
</head>

<body>
	<%include("/header.html"){}%>
	<section class="body-top">
		<div class="inner container">
			<div class="h2-h2">
				<h2>资讯中心</h2>
			</div>
			<div class="h2-ul">
				<ul>
					<%
					var list = menus.get2lMenus(@com.oxd.util.Constants.MENU_INFO);
					var currUrl = "";
					for(m in list) { 
						if(m.id == mid) currUrl = m.url;
					%>
					<li><a href="${root}${m.url}?pageNum=1" ${m.id== mid?'class="fst"':''}>${m.name}</a></li>
					<%}%>
				</ul>
			</div>
			<div class="cs"></div>
			<%
			var datas = pages.rows;
			for(o in datas) {
			var imgUrl = o.prePictureUrl == null || o.prePictureUrl == "" ? root + "/images/banner.jpg" : menus.split(o.prePictureUrl, ";")[1];
			%>
			<div class="big-left">
				<div class="sma-left">
					<img src="${imgUrl}" />
				</div>
				<div class="sma-right">
					<div>
						<h4>摘要：</h4>
						<span>${o.title}</span>
					</div>
					<div class="p2p">
						${o.introduction} 
						<span style="float: right; font-size: 14px; padding-right: 10px"><a href="${root}/info/detail?id=${o.id}">更多</a></span>
					</div>
				</div>
			</div>
			<%}%>
			<div class="cs"></div>
			<div class="fanye">
				<% 
				var totalPage = pages.total % pageSize > 0 ? pages.total / pageSize + 1 : pages.total / pageSize;
				%>
				<% if(totalPage > 1 && pageNum - 1 > 0){ %>
				<a href="${root}${currUrl}?pageNum=${pageNum - 1}">上一页</a>
				<%}%>
				<%if(totalPage >= (pageNum + 1)){ %>
				<a href="${root}${currUrl}?pageNum=${pageNum + 1}">下一页</a>
				<%}%>
			</div>
		</div>
		</div>
	</section>
	<%include("/footer.html"){}%>
</body>
</html>
