<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>经营范围-四川鑫欧顿商务服务有限公司</title>
<link href="/oxd-site/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/oxd-site/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/oxd-site/css/public.css" rel="stylesheet" type="text/css">
<link href="/oxd-site/css/scope.css" rel="stylesheet" type="text/css">
</head>

<body>
	<%include("/header.html"){}%>
	<section class="body-top">
		<div class="inner container">
			<div class="h2-h2">
				<h2>经营范围</h2>
			</div>

			<div class="cs"></div>
			<div class="inner-news">
				<div class="neirong">
					<ul>
						<li><img src="/oxd-site/images/yangshengbig1.jpg"><a></a>
						<p onclick="window.location.href='#'">
								浴足连锁<br>
								<span>内容描述</span>
							</p></li>
						<li><img src="/oxd-site/images/yangshengbig2.jpg"><a></a>
						<p onclick="window.location.href='#'">
								酒店管理<br>
								<span>内容描述</span>
							</p></li>
						<li><img src="/oxd-site/images/yangshengbig1.jpg"><a></a>
						<p onclick="window.location.href='#'">
								企业人才培训<br>
								<span>内容描述</span>
							</p></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<%include("/footer.html"){}%>
</body>
</html>
