<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>投资加盟-四川鑫欧顿商务服务有限公司</title>
<link href="/oxd-site/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/oxd-site/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/oxd-site/css/public.css" rel="stylesheet" type="text/css">
<link href="/oxd-site/css/touzi.css" rel="stylesheet"
	type="text/css">
</head>

<body>
	<%include("/header.html"){}%>
	<section class="body-top">
		<div class="inner container">
			<div class="h2-h2">
				<h2>投资加盟</h2>
			</div>
			<div class="h2-ul">
				<ul>
					<%
					var list = menus.get2lMenus(@com.oxd.util.Constants.MENU_TOUZI);
					for(m in list) {
					%>
					<li><a href="/oxd-site${m.url}" ${m.id == mid?'class="fst"':''}>${m.name}</a></li>
					<%}%>
				</ul>
			</div>
			<div class="cs"></div>
			<div class="inner-news">
				${coutent!''}
			</div>
		</div>
	</section>
	<%include("/footer.html"){}%>
</body>
</html>
