<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>养生专区-四川鑫欧顿商务服务有限公司</title>
<link href="/oxd-site/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/oxd-site/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/oxd-site/css/public.css" rel="stylesheet" type="text/css">
<link href="/oxd-site/css/yangsheng.css" rel="stylesheet" type="text/css">
</head>

<body>
	<%include("/header.html"){}%>
	<section class="body-top">
		<div class="inner container">
			<div class="h2-h2">
				<h2>养生专区</h2>
			</div>
			<div class="h2-ul">
				<ul>
					<li><a href="#" class="fst">理疗类</a></li>
					<li><a href="#">按摩类</a></li>
				</ul>
			</div>
			<div class="cs"></div>
			<div class="inner-news">
				<div class="news-tu">
					<div class="div1">
						<img src="/oxd-site/images/yangshengbig1.jpg" /><a></a>
						<p onclick="window.location.href='#'">特色香薰理疗法.......</p>
					</div>
					<div class="div2">
						<ul>
							<li><img src="/oxd-site/images/sam1.jpg" /><a class="img-cov"></a>
								<p onclick="window.location.href='#'">特色香薰理疗法.......</p></li>
							<li><img src="/oxd-site/images/sam2.jpg" /><a class="img-cov"></a>
								<p onclick="window.location.href='#'">特色香薰理疗法.......</p></li>
							<li><img src="/oxd-site/images/sam3.jpg" /><a class="img-cov"></a>
								<p onclick="window.location.href='#'">特色香薰理疗法.......</p></li>
							<li><img src="/oxd-site/images/sam4.jpg" /><a class="img-cov"></a>
								<p onclick="window.location.href='#'">特色香薰理疗法.......</p></li>
						</ul>
					</div>
					<div class="div3">
						<img src="/oxd-site/images/yangshengbig2.jpg" /><a></a>
						<p onclick="window.location.href='#'">特色香薰理疗法.......</p>
					</div>
				</div>
				<div class="cs"></div>
			</div>
		</div>
	</section>
	<%include("/footer.html"){}%>
</body>
</html>
