<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>index</title>
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="css/zhaopin-joinus.css" rel="stylesheet" type="text/css">
</head>

<body>
<header>
	<div class="header-top">
		<div class="container">
			<div class="row ">
			<div class="col-sm-9">
					<ul class="contant">
						<li><a href="#" class="glyphicon glyphicon-earphone"> 18780389999|028-87565566 87563366</a></li>
						<li><a href="#" class="glyphicon glyphicon-envelope"> 1404853101@qq.com</a></li>
					</ul>
				</div>
			<div class=" col-sm-3">
					
				</div>
			</div>
		</div>
	</div>
	<div class="header-bot">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="logo">
						 <span class="logo-one"><img src="images/one.png" style="height: 54px ;"/></span>
            <span class="logo-two"><img src="images/two.png" style="height: 54px;margin-left:30px"/> </span>
					</div>
				</div>
				<div class="col-md-8">
					<ul>
						<li><a href="index.html">首页<span class="caret"></span></a></li>
						<li><a href="about.html">关于我们<span class="caret"></span></a></li>
						<li><a href="news.html">资讯中心<span class="caret"></span></a></li>
						<li><a href="touzi-mendianxingxiangzhanshi.html">投资加盟<span class="caret"></span></a></li>
						<li><a href="about-fanwei.html">经营范围<span class="caret"></span></a></li>
						<li><a href="news-yangsheng.html">养生专区<span class="caret"></span></a></li>
						<li><a href="cont.html">联系我们<span class="caret"></span></a></li>
						<li><a href="zhaopin.html">招聘专栏<span class="caret"></span></a></li>
					</ul>
				</div>                                       
			</div>
		</div>
   </div>
</header>
<section class="body-top">
<div class="inner">
<div class="h2-h2"><h2>招聘专栏</h2></div>
<div class="h2-ul">
<ul>
<li><a href="zhaopin.html">职位发布</a></li>
<li><a href="zhaopin-chengzhang.html">成长伙伴</a></li>
<li><a href="zhaopin-joinus.html"  class="fst">加入我们</a></li>

</ul>
</div>
<div class="cs"></div>
<div class="inner-news">
<div class="join-us">
这里是内容
</div>
<div class="cs"></div>

<div class="fanye"><a href="#">上一页</a><a href="#">下一页</a></div>
</div>
</section>
<footer>
	
	<div><a href="#" class="fa fa-chevron-up chevron"></a></div>
	<h6>总部地址：成都市金牛区万达广场甲级写字楼C座36楼04号<br>蜀ICP备xxxxxxxx号-x  <img src="images/beian.png"/>蜀公网安备 xxxxxxxxxxxxx号 © 成都轻软科技有限公司技术支持 </h6>
</footer>
</body>
</html>
