<% var root = request.scheme+"://"+request.serverName+":"+request.serverPort+request.contextPath;%>
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="四川省鑫欧顿商务服务有限公司成立于2011年，坐落于著有“天府之国”之称的四川省成都市，是一家集酒店、保健、浴足为一体的大型综合性连锁企业。公司拥有独立的自主商标和知识产权，负责“鑫欧顿”与“伯爵丽都”两大品牌的推广、运营、管理，已发展成中国养生行业最具潜力的加盟连锁机构。">
<title>招聘专栏-四川鑫欧顿商务服务有限公司，鑫欧顿，伯爵丽都，足浴，养生，保健，招商加盟，足浴投资，全国连锁</title>
<meta name="keywords" content="鑫欧顿 伯爵丽都 足浴 养生 保健 招商加盟 足浴投资 全国连锁">
<link href="${root}/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="${root}/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="${root}/css/zhaopin.css" rel="stylesheet" type="text/css">
</head>

<body>
	<%include("/header.html"){}%>
	<section class="body-top">
		<div class="inner container">
			<div class="h2-h2">
				<h2>招聘专栏</h2>
			</div>
			<div class="h2-ul">
				<ul>
					<%
					var list = menus.get2lMenus(@com.oxd.util.Constants.MENU_ZHAOPIN);
					for(m in list) {
					%>
					<li><a href="${root}${m.url}" ${m.id == mid?'class="fst"':''}>${m.name}</a></li>
					<%}%>

				</ul>
			</div>
			<div class="cs"></div>
			<div class="inner-news">
				<div class="join-us">
					${content}
				</div>
				<div class="cs"></div>
			</div>
		</div>
	</section>
	<%include("/footer.html"){}%>
</body>
</html>
