<% var root = request.scheme+"://"+request.serverName+":"+request.serverPort+request.contextPath;%>
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>招聘专栏-四川鑫欧顿商务服务有限公司</title>
<link href="${root}/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="${root}/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="${root}/css/zhaopin.css" rel="stylesheet" type="text/css">
</head>

<body>
	<%include("/header.html"){}%>
	<section class="body-top">
		<div class="inner container">
			<div class="h2-h2">
				<h2>招聘专栏</h2>
			</div>
			<div class="h2-ul">
				<ul>
					<%
					var list = menus.get2lMenus(@com.oxd.util.Constants.MENU_ZHAOPIN);
					for(m in list) {
					%>
					<li><a href="${root}${m.url}" ${m.id == mid?'class="fst"':''}>${m.name}</a></li>
					<%}%>

				</ul>
			</div>
			<div class="cs"></div>
			<div class="inner-news">
				<div class="join-us">
					${content}
				</div>
				<div class="cs"></div>
			</div>
		</div>
	</section>
	<%include("/footer.html"){}%>
</body>
</html>
