<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>招聘专栏-四川鑫欧顿商务服务有限公司</title>
<link href="/oxd-site/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/oxd-site/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/oxd-site/css/public.css" rel="stylesheet" type="text/css">
<link href="/oxd-site/css/zhaopin.css" rel="stylesheet" type="text/css">
</head>

<body>
	<%include("/header.html"){}%>
	<section class="body-top">
		<div class="inner container">
			<div class="h2-h2">
				<h2>招聘专栏</h2>
			</div>
			<div class="h2-ul">
				<ul>
					<li><a href="#" class="fst">职位发布</a></li>
					<li><a href="#">成长伙伴</a></li>
					<li><a href="#">加入我们</a></li>

				</ul>
			</div>
			<div class="cs"></div>
			<div class="inner-news">
				<div class="join-us">这里是内容</div>
				<div class="cs"></div>

				<div class="fanye">
					<a href="#">上一页</a><a href="#">下一页</a>
				</div>
			</div>
		</div>
	</section>
	<%include("/footer.html"){}%>
</body>
</html>
